/* Fonts */
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Bebas-Regular';
  src: url('font/Bebas-Regular.otf');
}

/* Tags */
body {
  font-family: Ubuntu;
  color: #878787;
  font-size: 14pt;
}

h1 {
  font-family: Open Sans;
  font-weight: 900;
  color: #ff6200;
  font-size: 26.96pt;
}

h2 {
  font-family: Open Sans;
  color: #ff6200;
  font-size: 23pt;
  line-height: 40pt;
  border-bottom: 6pt solid #222222;
}

a, a:hover {
  text-decoration: none;
}

nav li {
  width: 50pt;
  display: inline-block;
  margin-top: 38pt;
}

nav li a {
  font-family: 'Myriad Pro';
  font-size: 13pt;
  color: #333333;
}

nav li a:hover {
  border-bottom: 4pt solid #ff6200;
  font-size: 12.9pt;
  font-weight: bold;
}

.no-padding {
  padding: 0 !important;
}

form .row {
  margin: 10pt 0;
}

/* Text Color */
.txt-orange, .txt-orange:hover {
  color: #ff6200;
}

.txt-darkOrange, .txt-darkOrange:hover {
  color: #be3600;
}

.txt-lightGray {
  color: #878787;
}

.txt-gray {
  color: #929292;
}

.txt-darkGray {
  color: #595959;
}

.txt-darkerGray {
  color: #313131;
}

.txt-darkestGray {
  color: #222222;
}

.txt-white, .txt-white:hover {
  color: #ffffff;
}

/* Background Color */
.bg-orange {
  background-color: #ff6200;
}

.bg-lightGray {
  background-color: #f9f9f9;
}

.header-topBar {
  font-family: Bebas-Regular;
  font-size: 14pt;
  padding: 11pt 0;
}

.header-callUsNow, .header-login {
  padding-right: 10px;
}

.header-logo {
  font-family: Bebas-Regular;
  font-size: 41.13pt;
  padding: 20px 0;
}

/* Buttons */
.btn-orange {
  color: #ffffff;
  background-color: #ff6200;
  border-radius: 0;
  margin: 10px 0;
}

/* Styles */
.breadcrumbs {
  font-family: ubuntu;
  font-size: 14pt;
  margin: 48px 0;
}

.breadcrumbs a {
  color: #929292;
}

.breadcrumbs a.current, .breadcrumbs a:hover {
  color: #222222;
  font-weight: bold;
}

.contact-us {
  margin-top: 40pt;
}

.reach-us {
  margin-top: 40pt;
  margin-left: 9pt;
}
