@import 'global/_settings.scss';

#gigsalad {
	padding: 15px 0;
}

.container {
	text-align: center;
}

.button__load-more {
	margin-top: 15px;
	border-radius: 30px;
	padding: 15px 30px;
	font-weight: 700;
	transition: all .25s cubic-bezier(.175,.885,.32,1.275),
		background-color .25s ease-out,color .25s ease-out,
		box-shadow .25s ease-out,border-color .25s ease-out;
	&:hover {
		box-shadow: 0 4px 16px rgba(38,144,255,.5);
	}
}

.user-card {
	font-weight: 700;
	p {
		font-size: 12px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-bottom: 0.5em;
	}
	&:hover {
	  -webkit-opacity: 0.9;
	  -moz-opacity: 0.9;
	  opacity: 0.9;
	  -webkit-transition: all 1s ease;
	  -moz-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	  -o-transition: all 1s ease;
	  transition: all 1s ease;
	}
}

.user-card__act-name {
	font-size: 18px;
	font-weight: 700;
	margin-top: 15px;
}

.user-card__button-profile {
	margin-top: 1em;
}

.loader-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
	background-color: rgba(51,51,51,0.9);
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.loader {
	margin: 200px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}