/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

/*
html,
body {
  height: 100%;
}
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  /*
    Override the default (display: inline) for
    browsers that do not recognize HTML5 tags.
  
    IE8 (and lower) requires a shiv:
    http://ejohn.org/blog/html5-shiv
  */
  display: block; }

b,
strong {
  /*
    Makes browsers agree.
    IE + Opera = font-weight: bold.
    Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold; }

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  /*
    For IE.
    http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic; }

ol,
ul {
  list-style: none; }

li {
  /*
    For IE6 + IE7:
  
    "display: list-item" keeps bullets from
    disappearing if hasLayout is triggered.
  */
  display: list-item; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

sub,
sup,
small {
  font-size: 75%; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

svg {
  /*
    For IE9. Without, occasionally draws shapes
    outside the boundaries of <svg> rectangle.
  */
  overflow: hidden; }

/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/
/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/
/*
body {
  min-width: 960px;
}
*/
/* `Container
----------------------------------------------------------------------------------------------------*/
.container_12,
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
  position: relative; }

.container_12 .grid_3,
.container_16 .grid_4 {
  width: 220px; }

.container_12 .grid_6,
.container_16 .grid_8 {
  width: 460px; }

.container_12 .grid_9,
.container_16 .grid_12 {
  width: 700px; }

.container_12 .grid_12,
.container_16 .grid_16 {
  width: 940px; }

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha {
  margin-left: 0; }

.omega {
  margin-right: 0; }

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .grid_1 {
  width: 60px; }

.container_12 .grid_2 {
  width: 140px; }

.container_12 .grid_4 {
  width: 300px; }

.container_12 .grid_5 {
  width: 380px; }

.container_12 .grid_7 {
  width: 540px; }

.container_12 .grid_8 {
  width: 620px; }

.container_12 .grid_10 {
  width: 780px; }

.container_12 .grid_11 {
  width: 860px; }

/* `Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .grid_1 {
  width: 40px; }

.container_16 .grid_2 {
  width: 100px; }

.container_16 .grid_3 {
  width: 160px; }

.container_16 .grid_5 {
  width: 280px; }

.container_16 .grid_6 {
  width: 340px; }

.container_16 .grid_7 {
  width: 400px; }

.container_16 .grid_9 {
  width: 520px; }

.container_16 .grid_10 {
  width: 580px; }

.container_16 .grid_11 {
  width: 640px; }

.container_16 .grid_13 {
  width: 760px; }

.container_16 .grid_14 {
  width: 820px; }

.container_16 .grid_15 {
  width: 880px; }

/* `Prefix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_3,
.container_16 .prefix_4 {
  padding-left: 240px; }

.container_12 .prefix_6,
.container_16 .prefix_8 {
  padding-left: 480px; }

.container_12 .prefix_9,
.container_16 .prefix_12 {
  padding-left: 720px; }

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .prefix_1 {
  padding-left: 80px; }

.container_12 .prefix_2 {
  padding-left: 160px; }

.container_12 .prefix_4 {
  padding-left: 320px; }

.container_12 .prefix_5 {
  padding-left: 400px; }

.container_12 .prefix_7 {
  padding-left: 560px; }

.container_12 .prefix_8 {
  padding-left: 640px; }

.container_12 .prefix_10 {
  padding-left: 800px; }

.container_12 .prefix_11 {
  padding-left: 880px; }

/* `Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .prefix_1 {
  padding-left: 60px; }

.container_16 .prefix_2 {
  padding-left: 120px; }

.container_16 .prefix_3 {
  padding-left: 180px; }

.container_16 .prefix_5 {
  padding-left: 300px; }

.container_16 .prefix_6 {
  padding-left: 360px; }

.container_16 .prefix_7 {
  padding-left: 420px; }

.container_16 .prefix_9 {
  padding-left: 540px; }

.container_16 .prefix_10 {
  padding-left: 600px; }

.container_16 .prefix_11 {
  padding-left: 660px; }

.container_16 .prefix_13 {
  padding-left: 780px; }

.container_16 .prefix_14 {
  padding-left: 840px; }

.container_16 .prefix_15 {
  padding-left: 900px; }

/* `Suffix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_3,
.container_16 .suffix_4 {
  padding-right: 240px; }

.container_12 .suffix_6,
.container_16 .suffix_8 {
  padding-right: 480px; }

.container_12 .suffix_9,
.container_16 .suffix_12 {
  padding-right: 720px; }

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .suffix_1 {
  padding-right: 80px; }

.container_12 .suffix_2 {
  padding-right: 160px; }

.container_12 .suffix_4 {
  padding-right: 320px; }

.container_12 .suffix_5 {
  padding-right: 400px; }

.container_12 .suffix_7 {
  padding-right: 560px; }

.container_12 .suffix_8 {
  padding-right: 640px; }

.container_12 .suffix_10 {
  padding-right: 800px; }

.container_12 .suffix_11 {
  padding-right: 880px; }

/* `Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .suffix_1 {
  padding-right: 60px; }

.container_16 .suffix_2 {
  padding-right: 120px; }

.container_16 .suffix_3 {
  padding-right: 180px; }

.container_16 .suffix_5 {
  padding-right: 300px; }

.container_16 .suffix_6 {
  padding-right: 360px; }

.container_16 .suffix_7 {
  padding-right: 420px; }

.container_16 .suffix_9 {
  padding-right: 540px; }

.container_16 .suffix_10 {
  padding-right: 600px; }

.container_16 .suffix_11 {
  padding-right: 660px; }

.container_16 .suffix_13 {
  padding-right: 780px; }

.container_16 .suffix_14 {
  padding-right: 840px; }

.container_16 .suffix_15 {
  padding-right: 900px; }

/* `Push Space >> Global
----------------------------------------------------------------------------------------------------*/
.container_12 .push_3,
.container_16 .push_4 {
  left: 240px; }

.container_12 .push_6,
.container_16 .push_8 {
  left: 480px; }

.container_12 .push_9,
.container_16 .push_12 {
  left: 720px; }

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .push_1 {
  left: 80px; }

.container_12 .push_2 {
  left: 160px; }

.container_12 .push_4 {
  left: 320px; }

.container_12 .push_5 {
  left: 400px; }

.container_12 .push_7 {
  left: 560px; }

.container_12 .push_8 {
  left: 640px; }

.container_12 .push_10 {
  left: 800px; }

.container_12 .push_11 {
  left: 880px; }

/* `Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .push_1 {
  left: 60px; }

.container_16 .push_2 {
  left: 120px; }

.container_16 .push_3 {
  left: 180px; }

.container_16 .push_5 {
  left: 300px; }

.container_16 .push_6 {
  left: 360px; }

.container_16 .push_7 {
  left: 420px; }

.container_16 .push_9 {
  left: 540px; }

.container_16 .push_10 {
  left: 600px; }

.container_16 .push_11 {
  left: 660px; }

.container_16 .push_13 {
  left: 780px; }

.container_16 .push_14 {
  left: 840px; }

.container_16 .push_15 {
  left: 900px; }

/* `Pull Space >> Global
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_3,
.container_16 .pull_4 {
  left: -240px; }

.container_12 .pull_6,
.container_16 .pull_8 {
  left: -480px; }

.container_12 .pull_9,
.container_16 .pull_12 {
  left: -720px; }

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/
.container_12 .pull_1 {
  left: -80px; }

.container_12 .pull_2 {
  left: -160px; }

.container_12 .pull_4 {
  left: -320px; }

.container_12 .pull_5 {
  left: -400px; }

.container_12 .pull_7 {
  left: -560px; }

.container_12 .pull_8 {
  left: -640px; }

.container_12 .pull_10 {
  left: -800px; }

.container_12 .pull_11 {
  left: -880px; }

/* `Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/
.container_16 .pull_1 {
  left: -60px; }

.container_16 .pull_2 {
  left: -120px; }

.container_16 .pull_3 {
  left: -180px; }

.container_16 .pull_5 {
  left: -300px; }

.container_16 .pull_6 {
  left: -360px; }

.container_16 .pull_7 {
  left: -420px; }

.container_16 .pull_9 {
  left: -540px; }

.container_16 .pull_10 {
  left: -600px; }

.container_16 .pull_11 {
  left: -660px; }

.container_16 .pull_13 {
  left: -780px; }

.container_16 .pull_14 {
  left: -840px; }

.container_16 .pull_15 {
  left: -900px; }

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0; }

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix,
.container_12,
.container_16 {
  zoom: 1; }

.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.roundedTop {
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  top: 580px;
  z-index: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

.bxslider .list-item {
  background: #fff; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../images/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(../images/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

#slider-prev, #slider-next {
  position: absolute;
  top: 600px;
  z-index: 2; }

#slider-prev {
  left: 10px; }

#slider-next {
  right: 10px; }

@font-face {
  font-family: 'adobe_arabicregular';
  src: url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.eot");
  src: url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.woff") format("woff"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.ttf") format("truetype"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.svg#adobe_arabicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'adobe_arabicitalic';
  src: url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.eot");
  src: url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.woff") format("woff"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.ttf") format("truetype"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.svg#adobe_arabicitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'adobe_arabicbold';
  src: url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.eot");
  src: url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.eot?#iefix") format("embedded-opentype"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.woff") format("woff"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.ttf") format("truetype"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.svg#adobe_arabicbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'adobe_arabicbold_italic';
  src: url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.eot");
  src: url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.woff") format("woff"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.ttf") format("truetype"), url("http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.svg#adobe_arabicbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avenir_lt_45_bookregular';
  src: url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.eot");
  src: url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.eot?#iefix") format("embedded-opentype"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.woff") format("woff"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.ttf") format("truetype"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.svg#avenir_lt_45_bookregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avenir_lt_65_mediumbold';
  src: url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.eot");
  src: url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.eot?#iefix") format("embedded-opentype"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.woff") format("woff"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.ttf") format("truetype"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.svg#avenir_lt_65_mediumbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avenir_lt_45_bookitalic';
  src: url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.eot");
  src: url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.eot?#iefix") format("embedded-opentype"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.woff") format("woff"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.ttf") format("truetype"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.svg#avenir_lt_45_bookitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'avenir_lt_65_mediumbolditalic';
  src: url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.eot");
  src: url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.eot?#iefix") format("embedded-opentype"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.woff") format("woff"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.ttf") format("truetype"), url("http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.svg#avenir_lt_65_mediumbolditalic") format("svg");
  font-weight: normal;
  font-style: normal; }

.red {
  color: #d71921; }

.blue {
  color: #044d99; }

.light-gray {
  color: #dfdfdf; }

.dark-gray {
  color: #333333; }

.avenir {
  font-family: 'avenir_lt_45_bookregular'; }

.avenir-bold {
  font-family: 'avenir_lt_65_mediumbold'; }

.avenir-italic {
  font-family: 'avenir_lt_45_bookitalic'; }

.avenir-bold-italic {
  font-family: 'avenir_lt_65_mediumbolditalic'; }

.arabic {
  font-family: 'adobe_arabicregular'; }

.arabic-italic {
  font-family: 'adobe_arabicitalic'; }

.arabic-bold {
  font-family: 'adobe_arabicbold'; }

.arabic-bold-italic {
  font-family: 'adobe_arabicbold_italic'; }

p, .avenir-regular, h5, .no-bull-list li {
  font-family: 'avenir_lt_45_bookregular'; }

.submit, label, .med-btn, .avenir-bold {
  font-family: 'avenir_lt_65_mediumbold'; }

h1, h2, h3, h4, h6, div.or, p.arabic {
  font-family: 'adobe_arabicregular'; }

.arabic-bold {
  font-family: 'adobe_arabicbold'; }

.main-nav {
  font-family: 'adobe_arabicbold';
  text-shadow: '#fff 1px 1px'; }

.clear {
  clear: both; }
  .clear.ao-agent-row-item {
    overflow: auto;
    visibility: visible;
    width: auto;
    height: auto; }

h1 {
  font-size: 3em;
  text-align: center;
  color: #d71921;
  margin: .25em 0 .25em; }

h2 {
  color: #d71921;
  font-size: 2.5em;
  line-height: 1em;
  margin: 1em 0 0; }

h3 {
  font-size: 2em;
  margin: 0;
  line-height: 2.5em; }

h3, h4, h5, h6 {
  color: #212b45; }

h4 {
  font-size: 1.5em;
  margin: 0.4em 0 0.4em; }

h5 {
  font-size: 1.6em;
  margin: 0.6em 0 0; }

h6 {
  font-size: 2em;
  margin: 0.6em 0 0; }

p {
  font-size: 1.25em;
  color: #333333;
  line-height: 1.5em; }
  p.light {
    color: #dfdfdf; }

hr {
  margin: 0;
  padding: 0;
  background: url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/horiz-divider.png") center top no-repeat;
  border: 0;
  margin: 25px 0 -35px;
  height: 50px; }
  hr.dark {
    color: #7b8289;
    background-color: #7b8289;
    height: 1px; }

.field-group label {
  display: block;
  font-weight: bold;
  line-height: 1.75em;
  padding: 10px 0;
  font-size: 1.25em;
  color: #333333; }

#mapsearch-left input.narrow {
  width: 74px; }

a.no-decor {
  text-decoration: none; }

.pad-left {
  padding-left: 0.7em; }

.search-form input, .search-form textarea {
  font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
  width: 100%;
  height: 40px;
  color: #333333;
  background: #dfdfdf;
  padding: 0 15px;
  border: 0; }
  .search-form input.submit, .search-form textarea.submit {
    margin: 15px 0;
    background: #005791;
    color: #fff;
    border: 0; }

textarea {
  padding-top: 15px;
  height: 150px;
  line-height: 1.5em; }

.center {
  text-align: center; }

.bg-white-trans-90 {
  background: url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-90.png") repeat; }

.bg-white-trans-80 {
  background: url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-80.png") repeat; }

.cjr-logo {
  margin: 15px 0 20px; }

.page-bg, .page-bg, .office-bg, .agent-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 1px;
  border-bottom: 3px solid #dfdfdf; }

#recohomepage .page-bg {
  background: url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/house-1.jpg") no-repeat center center;
  height: 570px; }
  #recohomepage .page-bg .home-search {
    margin: 100px auto 150px; }

.page-bg, .office-bg, .agent-bg {
  background: url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/house-2.jpg") no-repeat center center; }

.agent-bg {
  border-bottom: 10px solid #dfdfdf; }

.agent-bg .home-search {
  margin: 80px auto 80px; }

.home-alert-txt {
  text-align: right;
  padding-right: 0;
  line-height: 37px;
  color: #212b45;
  margin-bottom: 0.3em;
  margin-top: 1em; }
  .home-alert-txt span {
    font-size: 0.9em !important; }
  .home-alert-txt #login_link_popup {
    color: #212b45;
    border-bottom: solid 1px #212b45;
    text-decoration: none;
    font-size: 0.95em !important; }
  .home-alert-txt.no-social-media {
    line-height: 80px; }

.social-media-icons {
  text-align: right;
  float: right; }
  .social-media-icons span {
    background: url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/socialmediaicons-84x84.png") no-repeat;
    height: 28px;
    width: 28px;
    display: inline-block; }
    .social-media-icons span.rss {
      background-position: 0 0; }
    .social-media-icons span.facebook {
      background-position: -28px 0; }
    .social-media-icons span.twitter {
      background-position: -56px 0; }
    .social-media-icons span.linkedin {
      background-position: 0 -28px; }
    .social-media-icons span.myspace {
      background-position: -28px -28px; }
    .social-media-icons span.other {
      background-position: -56px -28px; }
    .social-media-icons span.youtube {
      background-position: 0 -56px; }
    .social-media-icons span.tumblr {
      background-position: -28px -56px; }
    .social-media-icons span.pinterest {
      background-position: -56px -56px; }

.main-nav {
  padding: 0;
  margin: 0;
  background: url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-95.png") repeat;
  text-align: center; }
  .main-nav li {
    margin: 0 10px;
    display: inline-block;
    line-height: 30px;
    font-size: 1.5em;
    padding: 23px 0 20px; }
    .main-nav li a {
      color: #d71921 !important;
      text-shadow: 4px 4px 4px #fff;
      text-decoration: none; }
      .main-nav li a:hover {
        color: #bd1219; }

.home-search {
  background: url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-95.png") repeat;
  width: 650px;
  margin: 100px auto 150px;
  padding: 25px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  .home-search .search-form {
    font-size: 0.9em;
    border: solid 3px #fff;
    margin-top: 35px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 386px;
    height: 40px;
    display: inline-block; }
    .home-search .search-form input {
      background: #fff;
      -moz-border-top-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -moz-border-bottom-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 0 8px;
      width: 330px;
      float: left; }
      .home-search .search-form input.search-text {
        -webkit-box-shadow: 1px 1px 1px silver inset;
        -moz-box-shadow: 1px 1px 1px silver inset;
        box-shadow: 1px 1px 1px silver inset;
        line-height: 45px;
        font-size: 0.9em; }
    .home-search .search-form .search-submit {
      float: left;
      -moz-border-top-right-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      border-top-right-radius: 5px;
      -moz-border-bottom-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px;
      /* fallback/image non-cover color */
      background-color: #bd1219;
      /* Firefox 3.6+ */
      background-image: -moz-linear-gradient(#d71921, #bd1219);
      /* Safari 4+, Chrome 1+ */
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d71921), to(#bd1219));
      /* Safari 5.1+, Chrome 10+ */
      background-image: -webkit-linear-gradient(#d71921, #bd1219);
      /* Opera 11.10+ */
      background-image: -o-linear-gradient(#d71921, #bd1219); }
      .home-search .search-form .search-submit input {
        width: 40px;
        background: transparent url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/magnify-glass.png") center no-repeat; }
  .home-search .right-house {
    margin-left: 30px;
    padding: 0; }

.page-bg .home-search {
  margin: 30px auto 30px; }

.content-pad-top {
  padding: 25px 0 0; }

.gray-arrow {
  height: 0;
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-top: 15px solid #dfdfdf;
  width: 10px;
  margin: 0 auto; }

.home-alert {
  text-align: center; }
  .home-alert input {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 205px;
    -webkit-box-shadow: 1px 1px 1px silver inset;
    -moz-box-shadow: 1px 1px 1px silver inset;
    box-shadow: 1px 1px 1px silver inset;
    background: #fff;
    border: 1px solid #a3a3a3;
    margin: 0 3px;
    line-height: 35px;
    font-size: 12px;
    padding: 0 15px; }
  .home-alert label {
    display: block;
    text-align: left;
    padding: 3px;
    font-size: 1em; }
  .home-alert .submit {
    font-size: 0.9em;
    background: #bd1219;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-top: -4px;
    padding: 0 15px;
    border: 0;
    width: 90px; }

.field-group {
  display: inline-block; }

.submit, .med-btn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* fallback/image non-cover color */
  background-color: #bd1219;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(#d71921, #bd1219);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d71921), to(#bd1219));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(#d71921, #bd1219);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(#d71921, #bd1219);
  display: inline-block;
  color: #fff;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  margin-top: -4px;
  padding: 0 15px;
  font-size: 1.25em;
  border: 0;
  cursor: pointer;
  text-align: center; }

.med-btn {
  margin-top: 2em;
  font-size: 1.25em;
  line-height: 50px;
  height: 50px;
  padding: 0 30px;
  color: #fff !important;
  text-decoration: none; }
  .med-btn:hover {
    color: #e1e1e1 !important; }

.subcontent-image {
  border: 1px solid #dfdfdf;
  text-align: center;
  margin: 20px 0 5px 10px; }
  .subcontent-image img {
    padding: 15px; }
    .subcontent-image img.set-width {
      width: 270px; }

.no-bull-list li {
  list-style-type: none;
  font-size: 1em;
  margin: 0.75em 0; }
  .no-bull-list li a {
    color: #333333;
    text-decoration: none;
    cursor: pointer; }

.rounded-img {
  margin-top: 1em;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
  height: 200px;
  width: 200px; }

.rounded-img-large {
  margin-top: 1em;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px; }

#company-copyright {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #999;
  font-family: Arial,Helvetica,sans-serif;
  margin: 1em 0; }
  #company-copyright a {
    color: #000; }
  #company-copyright #terms-and-conditions {
    margin: 1em 0; }

.site-card {
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 5px 5px #e5e5e5 ;
  -moz-box-shadow: 0px 5px 5px #e5e5e5 ;
  box-shadow: 0px 5px 5px #e5e5e5 ;
  display: inline-block;
  padding: 0;
  height: 100px;
  background: url("http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-95.png") repeat; }
  .site-card .card-img {
    padding: 7px;
    display: inline-block;
    vertical-align: top; }
    .site-card .card-img img {
      height: 85px; }
  .site-card .card-text {
    padding: 9px 20px 0;
    display: inline-block; }
  .site-card h5 {
    margin: 0.4em 0 0;
    color: #333333;
    font-size: 1.2em; }
  .site-card p {
    margin: 0.5em 0 0 !important;
    padding-top: 0;
    font-size: 0.9em !important; }
    .site-card p a {
      color: #333333; }

.container_12 p {
  margin: 1em 0;
  font-size: 1em; }

#report {
  margin-top: 3em; }

.rui-page h1.pagetitle {
  text-align: left; }

.bul-list {
  list-style-type: disc;
  margin-left: 0.5em; }
  .bul-list li {
    margin: 1em 0;
    font-size: 1em;
    color: #333333;
    line-height: 1.5em; }

#content-content h1 {
  text-align: left;
  margin: 1em 0; }
#content-content p {
  font-size: 1em; }

.content {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1em 0; }

.contentcontainer {
  width: 960px;
  margin: 0 auto; }

#Master_ContentCell3 {
  display: none; }

/* Header Carousel */
.fp-jcarousel-wrapper {
  display: none;
  width: 100%;
  height: 169px;
  background-color: #dfdfdf; }

#agenthome-homepage .fp-jcarousel-wrapper {
  display: block; }

.fp-jcarousel-container {
  margin: 0 auto;
  height: 169px; }

.fp-jcarousel-container .jcarousel-container {
  border: 0 !important;
  background-color: #dfdfdf !important; }

.jcarousel-description-container {
  width: 100% !important; }

/* Listing Popup Info */
#contactinfo {
  left: 400px !important;
  background: #fff;
  padding: 7px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 5px 5px #e5e5e5 ;
  -moz-box-shadow: 0px 5px 5px #e5e5e5 ;
  box-shadow: 0px 5px 5px #e5e5e5 ; }

#agent-portrait {
  float: left;
  top: 0 !important; }
  #agent-portrait img {
    width: 80px; }

#innerAgentModule {
  float: left;
  margin: 1em;
  font-size: 0.8em;
  text-align: center; }
  #innerAgentModule #agent-name {
    font-size: 1.5em;
    font-color: #333333;
    font-family: 'avenir_lt_65_mediumbold';
    margin: 0; }

.popup .details-info-table td {
  line-height: 34px; }

/* Finance Tools */
#ft-title {
  line-height: 36px;
  margin-bottom: 1em; }

/* hiding logo */
.websitetypeid2 .card-img img {
  display: none; }

/* Hide Agent Connect */
#listing-listingdetail #agentConnect, #content-forms-contactme #agentConnect {
  display: none; }

#listing-listingsearch .agent-bg, #listing-listingsearch .page-bg,
#listing-listingdetail .agent-bg,
#listing-listingdetail .page-bg,
#account-profile .agent-bg,
#account-profile .page-bg,
#account-customerhome .agent-bg,
#account-customerhome .page-bg,
#account-savedsearchlist .agent-bg,
#account-savedsearchlist .page-bg,
#account-savedlistinglist .agent-bg,
#account-savedlistinglist .page-bg,
#account-clientrecommendedlistinggrouplist .agent-bg,
#account-clientrecommendedlistinggrouplist .page-bg,
#seller-sellerlistings .agent-bg,
#seller-sellerlistings .page-bg,
#office-officeinfo .agent-bg,
#office-officeinfo .page-bg,
#agentsearch-search .agent-bg,
#agentsearch-search .page-bg {
  padding-bottom: 0; }
#listing-listingsearch .home-search,
#listing-listingdetail .home-search,
#account-profile .home-search,
#account-customerhome .home-search,
#account-savedsearchlist .home-search,
#account-savedlistinglist .home-search,
#account-clientrecommendedlistinggrouplist .home-search,
#seller-sellerlistings .home-search,
#office-officeinfo .home-search,
#agentsearch-search .home-search {
  display: none; }

/* Customer Home */
.module-box-head h3 {
  font-size: 20px; }

.customersubmenu-container-title .title {
  font-size: 25px;
  line-height: 52px; }

.footercontainer {
  clear: both; }

#agenthome-featuredlisting {
  display: none; }

.details-info-table td.details-text-data label {
  float: none; }

#ifrmAdSpace, #Master_LeaderBoardBottom_LeaderBoard_divAdSpaceWrapper {
  display: none; }

#company-copyright {
  clear: both; }

/*
#viewport-wrapper hr {
    display: none;
}
*/
/* Login Popup */
#login_link_popup {
  margin: 1em 0;
  font-size: 16px; }

/*popup for save property and get alerts */
.social-login-instructions {
  font-size: 0.9em; }

.subcontent-image.set-medium img {
  width: 270px; }

.module-box-body p,
.caption1,
#inrBdyCntSavedSearches .content,
#inrBdyCnt .content,
.inrBdyCnt1 .content {
  font-size: 0.9em; }

#ft-header {
  margin-bottom: 1em; }

#ft-link-container, #ft-disclaimer {
  font-size: 0.95em; }
