
* {
  font-family: 'Montserrat-light', sans-serif;
 }

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.intro-container {
  padding: 10rem 0 5rem;
  background: url('lavender.jpg') no-repeat;
  background-size: cover;
  background-position: 0 -35px;
}

.intro-container .container {
  color: #fff;
}
