// Imports

@import 'css3-sass-mixins.scss';
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

// Defaults

body {
    background: #dbdbdb url('../images/horizontal_gradient_stretch_vertical.png') repeat-y;
    z-index: 0;
    overflow: hidden;
    &::after {
        content: " ";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('../images/mesh_transparent.png') top left no-repeat;
        z-index: 1;
    }
}

body, h1, h2 {
	margin: 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 46px;
    color: #0071BC;
    font-family: 'Ubuntu';
}

h2 {
    color: #4d4d4d;
    font-size: 25px;
    font-family: 'Ubuntu';
}

h3, h4 {
    color: #4d4d4d;
    font-size: 22px;
    font-weight: 100;
    margin: 0;
}

h4 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #4d4d4d;
}

p {
    color: #4d4d4d;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
}

// Header - Footer

#header, #footer {
    height: 40px;
    line-height: 41px;
    background: url('../images/bg_footer.png') repeat-x;
    vertical-align: middle;
    padding: 0 23px;
    font-size: 14px;
    font-weight: 500;
    color: #999;
    a {
        color: #999;
        margin: 0 15px;
    }
}
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

#logo {
    display: inline-block;
    height: 14px;
    width: 118px;
    background: url('../images/logo.png') no-repeat;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    @include box-shadow(0, 0, 10px, #999);
}

#copyright {
    float: right;
}

// Controls

#controls {
    position: fixed;
    top: 27%;
    left: 1%;
    border: 1px solid #dbdbdb;
    margin: 0;
    padding: 2px 7px;
    z-index: 10;
    text-align: center;
    @include border-radius(5px);
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(left,  #f9f9f9 0%, #f9f9f9 25%, #fafafa 50%, #f9f9f9 75%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f9f9f9), color-stop(25%,#f9f9f9), color-stop(50%,#fafafa), color-stop(75%,#f9f9f9), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #f9f9f9 0%,#f9f9f9 25%,#fafafa 50%,#f9f9f9 75%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #f9f9f9 0%,#f9f9f9 25%,#fafafa 50%,#f9f9f9 75%,#f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #f9f9f9 0%,#f9f9f9 25%,#fafafa 50%,#f9f9f9 75%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to right,  #f9f9f9 0%,#f9f9f9 25%,#fafafa 50%,#f9f9f9 75%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=1 ); /* IE6-9 */
    li {
        margin: 0px 0;
        list-style-type: none;
        a { cursor: pointer; }
        &.slidetab { 
            a {
                display: block;
                height: 38px;
                width: 52px;
                background: url('../images/control_nav_dot_sprite.png') -52px 0 no-repeat;
                &:hover {
                    background-position: -104px 0;
                }
            }
            &.active a {
                background-position: 0 0;
                &:hover {
                    background-position: 0 0;
                }
            }
        }
        a.navSignup {
            position: absolute;
            bottom: -37px;
            left: -7px;
            display: block;
            height: 41px;
            width: 80px;
            background: url('../images/control_nav_signup_sprite.png') 0 0 no-repeat;
            &:hover {
                background-position: -80px 0;
            }
        }
        .controlsTooltip {
            display: none;
            position: absolute; 
            left: 75px;
            @include border-radius(5px);
            text-align: left;
            background: #999;
            color: #fff; 
            padding: 5px 10px; 
            white-space: nowrap;
            font-size: 18px;
        }
    }
    hr {
        display: block;
        border: 0;
        height: 1px;
        width: 31px;
        background: transparent url('../images/control_nav_divider.png') no-repeat;
    }
}

// Panel Content

#panelWrapper {
    overflow: hidden;
}

#panelSlide {
    position: fixed;
    width: 100%;
    z-index: 3;    
}

.panelContainer {
    display: block;
    position:relative;

    height: 100%;
    margin: 0 auto;
    background: url('../images/bg_glow.png') no-repeat;
    min-width: 840px;
}

.panelContentContainer{
    padding: 0 120px;
}

.panelContent {
    position: relative;
    margin: 0 auto;
    a {
        color: #0071BC;
    }

}

.panelDescription {
    position: absolute;
    display: block;
    width: 350px;
    left: 0;
    z-index: 2;
    p {
        margin-top: 8%;
        width: 70%;
    }
}

#discover .panelDescription p {
    width: 55%;
}

#connect .panelDescription {
    h1, p {
        width: 100%;
    }
}

.panelImage {
    display: block;
    width: 80%;
    float: left;
    margin: 25px 0 0 215px;
}

.panelLargeImage {
    position: absolute;
    bottom: 11px;
    width: 100%;
    left: 0;
    img {
        width: 100%;
    }
}
// Panel Sub Content

.floorContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../images/horizontal_stretch_floor.png') 0 0 repeat-x;
        z-index: -1;
}
.panelSubContentContainer {
    padding: 0 120px;
    clear: left;
    position: relative;
    min-width: 300px;
    background: url('../images/floor_underglow.png') 0 0px no-repeat;
    .floorDivider {
        position: absolute;
        display: block;
        height: 2px;
        top: 0;
        right: 120px;
        left: 120px;
        img {
            vertical-align: top;
            width: 100%;
            min-width: 800px;
        }
    }
}

.panelSubContent {
    padding-top: 12px;
    margin: 0 auto;
    white-space: nowrap;
    min-width: 800px;
    text-align: center;
}

.subContentImage {
    display: inline-block;
    margin: 0 15px 0 0;
    width: 14%;
    vertical-align: middle;
}

.subContent {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: -28px;
    text-align: left;
    h3 {
        margin: 0 0 10px;
        span {
            font-weight: bold;
        }
    }
}

// Panel Columns

.subContentColumn {
    text-align: center;
    display: inline-block;
    width: 32%;
    margin-left: -4px;
    vertical-align: top;
    img {
        display: inline-block;
        width: 35%;
    }
    h4 {
        margin-top: -12px;
        span {
            font-weight: bold;
        }
    }
}

// Panel Slideshow

#panelSlideshow {
    position: relative;
    height: 210px; 
    padding-top: 100px;
    div {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    p {
        position: absolute;
        top: 0;
        left: 0;
        height: 250px;
        width: 240px;
    }
    img {
        position: absolute;
        top: -110px;
        left: 370px;
        //height: 95%;
        width: 60%;
    }
}
#slideshowTabs {
    position: absolute;
    left: 400px;
    top: 275px;
    z-index: 3;
    width: 130px;
    a {
        display: block;
        float: left;
        height: 33px;
        width: 36px;
        background: url('../images/button_carousel_off.png') no-repeat;
        &.current {
            background: url('../images/button_carousel_on.png') no-repeat;
        }
    }
}

// Create Account

#discover {
    &::after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 88%;
        background: url('../images/image_discover_mosaic.png') 60% 0 no-repeat;
        z-index: 1;
    }
}
@media only screen and (max-width:1120px){
    #discover {
        &::after {
            height: 80%;
            background-position: 37% -45%;
        }
    }
}
.createAccount {
    position: absolute;
    top: 0;
    right: -15%;
    margin-top: 42px;
    width: 45%;
    color: #4d4d4d;
}

.createAccountBtn {
    position: absolute;
    display: block;
    height: 116px;
    width: 296px;
    margin: -11px 0 0 -29px;
    background: url('../images/button_discover_sign_up.png') no-repeat;
    text-indent: -9999px;
    z-index: 3;
}
