$red: #e0162b;
$blue: #044d99;
$light-gray: #dfdfdf;
$med-gray: #fbfbfb;
$dark-gray: #4d4d4d;

.red { color: $red; }
.blue { color: $blue; }
.light-gray { color: $light-gray; }
.dark-gray { color: $dark-gray; }

h1 {
    font-size: 5em;
    text-align: center;
    color: $red;
    margin: .25em 0 .25em;
}


h2 { 
    color: $red;
    font-size: 1.5em;
    line-height: 1em;
}

p { 
    font-size: 1.25em;
    color: $dark-gray;
    line-height: 1.5em;
    &.light {
        color: $light-gray;
    }
}

h3 {
    font-size: 4em;
    text-align: center;
    color: #fff;
    margin: .5em 0 0;
}

hr {
    border: 0;
    color: $light-gray;
    background-color: $light-gray;
    height: 1px;
    &.dark {
        color: #7b8289;
        background-color: #7b8289;
    }
}

label {
    display: block;
    font-weight: bold;
    line-height: 1.75em;
    padding: 10px 0;
}

input, textarea {
    width: 100%;
    height: 40px;
    color: $dark-gray;
    background: $light-gray;
    padding: 0 15px;
    border: 0;
    &.submit {
        margin: 15px 0;
        background: #005791;
        color: #fff;
        border: 0;
    }
}

textarea {
    padding-top: 15px;
    height: 150px;
    line-height: 1.5em;
}

.center { 
    text-align: center;
}

.cjr-logo {
    margin: 15px 0;
}

.vets-program {
    background: url('../images/veterans-bg.jpg') center no-repeat;
    text-align: center;
    padding: 15px;
    width: 100%;
}

.content-section {
    padding: 40px 0;
    background: url('../images/horiz-divider.png') no-repeat;
    &.top {
        margin-top: 35px;
        padding-bottom: 25px;
    }
}

.sub-content-section {
    background: url('../images/bg_texture_dark_blue.png') repeat;
    padding: 30px 0;
    h1 {
        color: #fff;
    }
}

.quote {
    font-size: 1.25em;
    span {
        margin-top: 15px;
        display: block;
        font-size: .75em;
    }
}

.circle {
    color: #fff;
    display: inline-block;
    @include circle(50px, $light-gray);
    border: 2px solid $med-gray;
    line-height: 45px;
    margin-bottom: 15px;
}

.hr-stars {
    margin-bottom: -30px;
}

.vertical-divide {
    background: url('../images/vertical-bar.png') center repeat-y;
    text-align: left;
}

.or {
    position: absolute;
    left: 445px;
    top: 40%;
    background: #fff;
    padding: 20px;
    font-size: 4em;
    color: $light-gray;
}

p.arabic {
    font-size: 1.5em;
}

.contact-info p {
    font-size: 1em;
    line-height: 10px;
}

.gray-arrow {
	width: 900px; 
	height: 0; 
	border-left: 500px solid transparent;
	border-right: 500px solid transparent;
	border-top: 20px solid $light-gray;
    margin: 0 auto;
}

#company-copyright {
    font-size: 10px;
    color: #999;
    font-family: Arial,Helvetica,sans-serif;
    margin: 1em 0;
    a {
        color: #000;
    }
}

@media (max-width: 1000px) {
    .or { display: none; }
    .gray-arrow {
            border: 0;
            width: 100%;
            background: $light-gray;
            height: 10px;
            padding: 0;
            margin: 0;
    }
}

@media (max-width: 770px) {
    .vertical-divide {
        background: none;
    }
}