@font-face {
    font-family: 'adobe_arabicregular';
    src: url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.eot');
    src: url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.woff') format('woff'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.ttf') format('truetype'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-regular-webfont.svg#adobe_arabicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_arabicitalic';
    src: url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.eot');
    src: url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.woff') format('woff'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.ttf') format('truetype'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-italic-webfont.svg#adobe_arabicitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_arabicbold';
    src: url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.eot');
    src: url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.woff') format('woff'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.ttf') format('truetype'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bold-webfont.svg#adobe_arabicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'adobe_arabicbold_italic';
    src: url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.eot');
    src: url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.woff') format('woff'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.ttf') format('truetype'),
         url('http://caroljones.com/images/recos/35002/fonts/Arabic/arabic-bolditalic-webfont.svg#adobe_arabicbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir_lt_45_bookregular';
    src: url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.eot');
    src: url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.woff') format('woff'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.ttf') format('truetype'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book-webfont.svg#avenir_lt_45_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir_lt_65_mediumbold';
    src: url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.eot');
    src: url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.woff') format('woff'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.ttf') format('truetype'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black-webfont.svg#avenir_lt_65_mediumbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir_lt_45_bookitalic';
    src: url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.eot');
    src: url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.woff') format('woff'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.ttf') format('truetype'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_45_book_oblique-webfont.svg#avenir_lt_45_bookitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir_lt_65_mediumbolditalic';
    src: url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.eot');
    src: url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.woff') format('woff'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.ttf') format('truetype'),
         url('http://caroljones.com/images/recos/35002/fonts/Avenir/avenir_lt_95_black_oblique-webfont.svg#avenir_lt_65_mediumbolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}