$red: #d71921;
$red-hover: #bd1219;
$blue: #044d99;
$light-gray: #dfdfdf;
$med-gray: #fbfbfb;
$dark-gray: #333333;

.red { color: $red; }
.blue { color: $blue; }
.light-gray { color: $light-gray; }
.dark-gray { color: $dark-gray; }


.avenir { font-family: 'avenir_lt_45_bookregular'; }
.avenir-bold { font-family: 'avenir_lt_65_mediumbold'; }
.avenir-italic { font-family: 'avenir_lt_45_bookitalic'; }
.avenir-bold-italic { font-family: 'avenir_lt_65_mediumbolditalic'; }

.arabic { font-family: 'adobe_arabicregular'; }
.arabic-italic { font-family: 'adobe_arabicitalic'; }
.arabic-bold { font-family: 'adobe_arabicbold'; }
.arabic-bold-italic { font-family: 'adobe_arabicbold_italic'; }

p, .avenir-regular, h5, .no-bull-list li { font-family: 'avenir_lt_45_bookregular'; }
.submit, label, .med-btn, .avenir-bold { font-family: 'avenir_lt_65_mediumbold'; }
h1, h2, h3, h4, h6, div.or, p.arabic { font-family: 'adobe_arabicregular'; }
.arabic-bold { font-family: 'adobe_arabicbold'; }
.main-nav {
    font-family: 'adobe_arabicbold';
    text-shadow: '#fff 1px 1px';
}

.clear { 
    clear: both;
    &.ao-agent-row-item {
        overflow: auto;
        visibility: visible;
        width: auto;
        height: auto;
    }
}

h1 {
    font-size: 3em;
    text-align: center;
    color: $red;
    margin: .25em 0 .25em;
}


h2 { 
    color: $red;
    font-size: 2.5em;
    line-height: 1em;
    margin: 1em 0 0;
}

h3 {
    font-size: 2em;
    margin: 0;
    line-height: 2.5em;
}

h3, h4, h5, h6 { color: #212b45; }
h4 { font-size: 1.5em; margin: 0.4em 0 0.4em; }
h5 { font-size: 1.6em; margin: 0.6em 0 0; }
h6 {     
    font-size: 2em;
    margin: 0.6em 0 0; 
}


p { 
    font-size: 1.25em;
    color: $dark-gray;
    line-height: 1.5em;
    &.light {
        color: $light-gray;
    }
}


hr {
    margin: 0;
    padding: 0;
    background: url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/horiz-divider.png') center top no-repeat;
    border: 0;
    margin: 25px 0 -35px;
    height: 50px;
    &.dark {
        color: #7b8289;
        background-color: #7b8289;
        height: 1px;
    }
}

.field-group label {
    display: block;
    font-weight: bold;
    line-height: 1.75em;
    padding: 10px 0;
    font-size: 1.25em;
    color: $dark-gray;
}

#mapsearch-left input.narrow {
    width: 74px;
}

a.no-decor {
    text-decoration: none;
}

.pad-left { padding-left: 0.7em; }

.search-form {
    input, textarea {
        font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
        width: 100%;
        height: 40px;
        color: $dark-gray;
        background: $light-gray;
        padding: 0 15px;
        border: 0;
        &.submit {
            margin: 15px 0;
            background: #005791;
            color: #fff;
            border: 0;
        }
    }
}

textarea {
    padding-top: 15px;
    height: 150px;
    line-height: 1.5em;
}


.center { 
    text-align: center;
}

.bg-white-trans-90 {
    background: url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-90.png') repeat;
}

.bg-white-trans-80 {
    background: url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-80.png') repeat;
}

.cjr-logo {
    margin: 15px 0 20px;
}


.page-bg, .page-bg, .office-bg, .agent-bg {    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 1px;
    border-bottom: 3px solid $light-gray;
}

#recohomepage .page-bg {
    background: url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/house-1.jpg') no-repeat center center;
    height: 570px;
    .home-search {
        margin: 100px auto 150px;
    }
}

.page-bg, .office-bg, .agent-bg {
    background: url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/house-2.jpg') no-repeat center center; 
}

.agent-bg {
    border-bottom: 10px solid $light-gray;
}

.agent-bg .home-search {
    margin: 80px auto 80px;
}

.home-alert-txt {
    text-align: right;
    padding-right: 0;
    line-height: 37px;
    color: #212b45;
    margin-bottom: 0.3em;
    margin-top: 1em;
    span {
        font-size: 0.9em !important;
    }
    #login_link_popup {
        color: #212b45;
        border-bottom: solid 1px #212b45;;
        text-decoration: none;
        font-size: 0.95em !important;
    }
    &.no-social-media {
        line-height: 80px;
    }
}

.social-media-icons {

    text-align: right;
    float:right;
    span {
        background: url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/socialmediaicons-84x84.png') no-repeat;
        height: 28px;
        width: 28px;
        display: inline-block;
        &.rss {
            background-position: 0 0;
        }
        &.facebook {
            background-position: -28px 0;
        }
        &.twitter {
            background-position: -56px 0;
        }
        &.linkedin {
            background-position: 0 -28px;
        }
        &.myspace {
            background-position: -28px -28px;
        }
        &.other {
            background-position: -56px -28px;
        }
        &.youtube {
            background-position: 0 -56px;
        }
        &.tumblr {
            background-position: -28px -56px;
        }
        &.pinterest {
            background-position: -56px -56px;
        }
    }
}

.main-nav {
    padding: 0;
    margin: 0;
    background: url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-95.png') repeat;
    text-align: center;
    li {
        margin: 0 10px;
        display: inline-block;
        line-height: 30px;
        font-size: 1.5em;
        padding: 23px 0 20px;
        a { 
            color: $red !important;
            text-shadow: 4px 4px 4px #fff;
            &:hover { color: $red-hover; }
            text-decoration: none;
        }
    }
}

.home-search {
    background: url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-95.png') repeat;
    width: 650px;
    margin: 100px auto 150px;
    padding: 25px 20px;
    @include roundcorners(5px);
    .search-form {
        font-size: 0.9em;
        border: solid 3px #fff;
        margin-top: 35px;
        @include roundcorners(5px);
        width: 386px;
        height: 40px;
        display: inline-block;
        input {
            background: #fff;
            @include roundcornerTL(5px);
            @include roundcornerBL(5px);
            padding: 0 8px;
            width: 330px;
            float: left;
            &.search-text {
                @include box-shadow(1px, 1px, 1px, #c0c0c0, inset);
                line-height: 45px;
                font-size: 0.9em;
            }
        }
        .search-submit {
            float: left;
            @include roundcornerTR(5px);
            @include roundcornerBR(5px);
            @include gradient(#d71921, #bd1219);
            input {
                width: 40px;
                background: transparent url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/magnify-glass.png') center no-repeat;
            }
        }
    }
    .right-house {
        margin-left: 30px;
        padding: 0;
    }
}

.page-bg {
    .home-search {
        margin: 30px auto 30px;
    }
}

.content-pad-top {
    padding: 25px 0 0;
}

.gray-arrow {
	height: 0; 
	border-left: 400px solid transparent;
	border-right: 400px solid transparent;
	border-top: 15px solid $light-gray;
	width: 10px;
    margin: 0 auto;
}

.home-alert {
    text-align: center;
    input {
        @include roundcorners(5px);
        width: 205px;
        @include box-shadow(1px, 1px, 1px, #c0c0c0, inset);
        background: #fff;
        border: 1px solid #a3a3a3;
        margin: 0 3px;
        line-height: 35px;
        font-size: 12px;
        padding: 0 15px;
    }
    label {
        display: block;
        text-align: left;
        padding: 3px;
        font-size: 1em;
    }
    .submit {
        font-size: 0.9em;
        background: #bd1219;
        @include roundcorners(5px);
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        margin-top: -4px;
        padding: 0 15px;
        border: 0;
        width: 90px;
    }
}

.field-group {
    display: inline-block;
}

.submit, .med-btn {
    @include roundcorners(5px);
    @include gradient(#d71921, #bd1219);
    display: inline-block;
    color: #fff;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-top: -4px;
    padding: 0 15px;
    font-size: 1.25em;
    border: 0;
    cursor: pointer;
    text-align:center;
}

.med-btn {
    margin-top: 2em;
    font-size: 1.25em;
    line-height: 50px;
    height: 50px;
    padding: 0 30px;
    color: #fff !important;
    text-decoration: none;
    &:hover {
        color: #e1e1e1 !important;
    }

}


.subcontent-image {
    border: 1px solid $light-gray;
    text-align: center;
    margin: 20px 0 5px 10px;
    img {
        padding: 15px;
        &.set-width {
            width: 270px;
        }
    }
}

.no-bull-list {
    li {
        list-style-type: none;
        font-size: 1em;
        margin: 0.75em 0;
        a {
            color: $dark-gray;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.rounded-img {
    margin-top: 1em;
    @include roundcorners(130px);
    height: 200px;
    width: 200px;
}

.rounded-img-large {
    margin-top: 1em;
    @include roundcorners(200px);
}

#company-copyright {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5em;
    color: #999;
    font-family: Arial,Helvetica,sans-serif;
    margin: 1em 0;
    a {
        color: #000;
    }
    #terms-and-conditions {
        margin: 1em 0;
    }
}

.site-card {
    @include roundcornerBR(5px);
    @include roundcornerBL(5px);
    @include box-shadow(0px, 5px, 5px, #e5e5e5);
    display: inline-block;
    padding: 0;
    .card-img {
        padding: 7px;
        display: inline-block;
        vertical-align: top;
        img {
            height: 85px;
        }
    }
    .card-text {
        padding: 9px 20px 0;
        display: inline-block;
    }
    h5 {
        margin: 0.4em 0 0;
        color: $dark-gray;
        font-size: 1.2em;
    }
    p { 
        margin: 0.5em 0 0 !important; 
        padding-top: 0;
        font-size: 0.9em !important;
        a { color: $dark-gray; }
    }
    height: 100px;
    background: url('http://caroljonesimages.fnistools.com/Uploads/RECos/35002/ContentFiles/bg-white-trans-95.png') repeat;
}

.container_12 {
    p {
        margin: 1em 0;
        font-size: 1em;
    }
}

#report {
    margin-top: 3em;
}

.rui-page h1.pagetitle {
    text-align: left;
}

.bul-list {
    list-style-type: disc;
    margin-left: 0.5em;
    li {
    margin: 1em 0;
    font-size: 1em;
    color: #333333;
    line-height: 1.5em;
    }
}

#content-content {
    h1 {
        text-align: left;
        margin: 1em 0;
    }
    p {
        font-size: 1em;
    }
}

.content {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1em 0;

}

.contentcontainer {
    width: 960px;
    margin: 0 auto;
}

#Master_ContentCell3 {
    display: none;
}

/* Header Carousel */


.fp-jcarousel-wrapper {
    display: none;
    width: 100%;
    height: 169px;
    background-color: $light-gray;
}

#agenthome-homepage .fp-jcarousel-wrapper {
    display: block;
}

.fp-jcarousel-container {
    margin: 0 auto;
    height: 169px;
}

.fp-jcarousel-container .jcarousel-container {
    border: 0 !important;
    background-color: $light-gray !important;
}

.jcarousel-description-container {
    width: 100% !important;   
}

/* Listing Popup Info */

#contactinfo {
    left: 400px !important;
    background: #fff;
    padding: 7px;
    @include roundcornerBR(5px);
    @include roundcornerBL(5px);
    @include box-shadow(0px, 5px, 5px, #e5e5e5);
}

#agent-portrait {
    float: left;
    top: 0 !important;
    img {
        width: 80px;
    }
}

#innerAgentModule {
    float: left;
    margin: 1em;
    font-size: 0.8em;
    text-align: center;
    #agent-name {
        font-size: 1.5em;
        font-color: $dark-gray;
        font-family: 'avenir_lt_65_mediumbold';
        margin: 0;
    }
}
.popup .details-info-table td {
    line-height: 34px;
}

/* Finance Tools */
#ft-title {
    line-height: 36px;
    margin-bottom: 1em;
}
/* hiding logo */

.websitetypeid2 {
    .card-img { 
        img {
            display: none;
        }
    }
}

/* Hide Agent Connect */
#listing-listingdetail, #content-forms-contactme {
    #agentConnect {
        display: none;
    }
}

#listing-listingsearch, 
#listing-listingdetail,
#account-profile, 
#account-customerhome,
#account-savedsearchlist,
#account-savedlistinglist,
#account-clientrecommendedlistinggrouplist,
#seller-sellerlistings,
#office-officeinfo,
#agentsearch-search {
    .agent-bg, .page-bg {
        padding-bottom: 0;
    }
    .home-search {
        display: none;
    }
}

/* Customer Home */
.module-box-head h3 {
    font-size: 20px;
}

.customersubmenu-container-title .title {
    font-size: 25px;
    line-height: 52px;
}

.footercontainer {
    clear: both;
}

#agenthome-featuredlisting {
    display: none;
}

.details-info-table td.details-text-data label {
    float: none;
}
#ifrmAdSpace, #Master_LeaderBoardBottom_LeaderBoard_divAdSpaceWrapper {
    display: none;
}
#company-copyright {
    clear: both;
}
/*
#viewport-wrapper hr {
    display: none;
}
*/
/* Login Popup */
#login_link_popup {
    margin: 1em 0;
    font-size: 16px;
}
/*popup for save property and get alerts */
.social-login-instructions {
    font-size: 0.9em;    
}

.subcontent-image {
    &.set-medium {
        img {
            width: 270px;
        }
    }
}

.module-box-body p, 
.caption1,
#inrBdyCntSavedSearches .content,
#inrBdyCnt .content,
.inrBdyCnt1 .content {
    font-size: 0.9em;
}

#ft-header {
    margin-bottom: 1em;
}
#ft-link-container, #ft-disclaimer { 
    font-size: 0.95em;
}
